.navbar-brand {
    width: 150px;
}

.navbar-brand>img {
    width: 100%;
    height: 100%;
}


.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        visibility: visible;
        opacity: 0%;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 4.5s;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        opacity: 0%;

    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(300%);
        transform: translateY(300%);
        visibility: visible;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 100;
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.text-center {
    text-align: center;
}

.slideInLeft {
    animation: slideInLeft 1s ease forwards;
    animation-delay: 5s;
}

.fade {
    animation: fade 4s ease forwards;
    animation-delay: 4s;
}

.hero_logo {
    width: 600px;
}

.hero_logo>img {
    width: 100%;
    height: 100%;
}

.gray-column {
    background-color: #f0f0f0;
    /* Adjust the color as needed */
}

#map {
    height: 300px;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
}

.hero_text {
    font-family: 'poppins';

}

.hero_button {
    font-family: 'poppins';
    font-weight: 600;
    color: #443F3F;
}

.color-gray-col {
    padding: auto;
}

.text-col-1 {
    font-family: 'poppins';
    font-weight: 200;
    color: #443F3F;
}

.self-rent-text {
    font-family: 'public sans';
    font-weight: 300;
}

.drivingwithus-bg {
    background-image: url(../images/AdobeStock_292386750.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;


}

.drivewithus_text {
    font-family: "aileron", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #35C0EC;
}

.drivewithus-text-odysse {
    color: #9AEBA6;
}

body {
    padding-top: 74px;
}

.header-drivewithus {
    position: relative;
    color: white;

}

.line {
    border: 2px solid #002F69;
    opacity: 1;
    position: relative;
    top: 45px;
    width: 100px;
    display: flex;
}

.pco-text {
    color: #002F69;
    background-color: #EBE9E9;
    font-family: 'public sans';
    opacity: 0.8;
}

.custom-container-width {
    max-width: 500px;
    /* Dowolna szerokość */
    margin-right: auto;
    margin-left: 0;
}

.tesla-car-img {
    width: 500px;
}

.driveyoufuturebg {
    background-color: #35C0EC;
}

.driveyour-text {
    font-family: 'poppins';
    font-weight: 400;
    color: white;
}

.driveyou-text-p {
    color: white;
    font-family: 'public sans';
}

.bg-carousel {
    background-color: #2F90B0;
}

.bgfaq {
    background-color: #35C0EC;
}

.hero_header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

footer {
    margin-top: 0;
    padding-top: 0;
}

.aplication-text {
    font-family: 'poppins';
    font-weight: 400;
    color: gray;
}

.tales {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    min-height: 400px !important;
}

p,
h1,
h3,
a,
label,
button {
    font-family: 'poppins';
}

input {
    font-family: "public sans";
}

.accordion {
    font-family: 'poppins';
}

.fa-whatsapp {
    font-size: 10rem;
    /* Adjust the size as needed */
    color: #25D366;
}

.fa-envelope {
    font-size: 10rem;
    color: black;
}