.hero_logo {
    width: 600px;
}

.hero_logo>img {
    width: 100%;
    height: 100%;
}

.gray-column {
    background-color: #f0f0f0;
}

.color-gray-col {
    padding: auto;
}

.text-center {
    text-align: center;
}