.fa-whatsapp {
    font-size: 10rem;
    color: #25D366;
}

.fa-envelope {
    font-size: 10rem;
    color: black;
}

.fa-envelope:hover {
    color: rgb(86, 86, 86);
}

.fa-whatsapp:hover {
    color: #55f58f;
}