$fa-font-path : "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;


$font-family-poppins: 'poppins';
$font-family-public-sans: 'public sans';
$font-family-aileron: 'aileron', sans-serif;